<div class="form-header">
<% if (Object.keys(errors).length === 0) { %>
  <h2>RBS Customer Database</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, Please Correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>
<form method="post" action="/contact" novalidate>
  <div class="form-field">
    <label for="Customer Name">Customer Name</label>
    <textarea class="input" id="CustomerName" name="customerName" rows="1" autofocus></textarea>
  </div>
  <div class="form-field">
    <label for="CIN">CIN</label>
    <textarea class="input" id="CIN" name="cin" rows="1" autofocus></textarea>
  </div>
  <div class="form-field">
    <label for="Brand">Brand</label>
    <textarea class="input" id="Brand" name="brand" rows="1" autofocus></textarea>
  </div>
  <div class="form-field">
    <label for="RELATIONSHIP MANAGER CODE">RELATIONSHIP MANAGER CODE</label>
    <textarea class="input" id="RelationshipManagerCode" name="rmc" rows="1" autofocus></textarea>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>
